<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atigu.weather.mapper.AirQualityIndexMapper">
    <sql id="Base_Column_List">
        id,
        day_id,
        code,
        `name`,
        aqi,
        aqi_display,
        `level`,
        category,
        color_red,
        color_green,
        color_blue,
        color_alpha,
        pollutant_code,
        pollutant_name,
        pollutant_full_name,
        health_effect,
        general_population_advice,
        sensitive_population_advice
    </sql>
    <resultMap id="BaseResultMap" type="com.atigu.weather.pojo.AirQualityIndex">
        <result column="id" property="id"/>
        <result column="day_id" property="dayId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="aqi" property="aqi"/>
        <result column="aqi_display" property="aqiDisplay"/>
        <result column="level" property="level"/>
        <result column="category" property="category"/>
        <result column="color_red" property="colorRed"/>
        <result column="color_green" property="colorGreen"/>
        <result column="color_blue" property="colorBlue"/>
        <result column="color_alpha" property="colorAlpha"/>
        <result column="pollutant_code" property="pollutantCode"/>
        <result column="pollutant_name" property="pollutantName"/>
        <result column="pollutant_full_name" property="pollutantFullName"/>
        <result column="health_effect" property="healthEffect"/>
        <result column="general_population_advice" property="generalPopulationAdvice"/>
        <result column="sensitive_population_advice" property="sensitivePopulationAdvice"/>
    </resultMap>

<!--auto generated by MybatisCodeHelper on 2025-04-15-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from air_quality_indexes
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into air_quality_indexes (day_id, code, `name`, aqi, aqi_display, `level`, category, color_red, color_green, color_blue, color_alpha, pollutant_code, pollutant_name,
        pollutant_full_name, health_effect, general_population_advice, sensitive_population_advice)
        values (#{dayId}, #{code}, #{name}, #{aqi}, #{aqiDisplay}, #{level}, #{category}, #{colorRed}, #{colorGreen},
        #{colorBlue}, #{colorAlpha}, #{pollutantCode},#{pollutantName}, #{pollutantFullName}, #{healthEffect}, #{generalPopulationAdvice}, #{sensitivePopulationAdvice})

    </insert>
</mapper>
