<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atigu.weather.mapper.DailyMapper">
    <sql id="Base_Column_List">
        id,
        fxDate,
        sunrise,
        sunset,
        moonrise,
        moonset,
        moonPhase,
        moonPhaseIcon,
        tempMax,
        tempMin,
        iconDay,
        textDay,
        iconNight,
        textNight,
        wind360Day,
        windDirDay,
        windScaleDay,
        windSpeedDay,
        wind360Night,
        windDirNight,
        windScaleNight,
        windSpeedNight,
        precip,
        uv_index,
        humidity,
        pressure,
        vis,
        cloud,
        location
    </sql>
    <resultMap id="BaseResultMap" type="com.atigu.weather.pojo.Daily">
        <result column="id" property="id"/>
        <result column="fxDate" property="fxDate"/>
        <result column="sunrise" property="sunrise"/>
        <result column="sunset" property="sunset"/>
        <result column="moonrise" property="moonrise"/>
        <result column="moonset" property="moonset"/>
        <result column="moonPhase" property="moonPhase"/>
        <result column="moonPhaseIcon" property="moonPhaseIcon"/>
        <result column="tempMax" property="tempMax"/>
        <result column="tempMin" property="tempMin"/>
        <result column="iconDay" property="iconDay"/>
        <result column="textDay" property="textDay"/>
        <result column="iconNight" property="iconNight"/>
        <result column="textNight" property="textNight"/>
        <result column="wind360Day" property="wind360Day"/>
        <result column="windDirDay" property="windDirDay"/>
        <result column="windScaleDay" property="windScaleDay"/>
        <result column="windSpeedDay" property="windSpeedDay"/>
        <result column="wind360Night" property="wind360Night"/>
        <result column="windDirNight" property="windDirNight"/>
        <result column="windScaleNight" property="windScaleNight"/>
        <result column="windSpeedNight" property="windSpeedNight"/>
        <result column="precip" property="precip"/>
        <result column="uv_index" property="uvIndex"/>
        <result column="humidity" property="humidity"/>
        <result column="pressure" property="pressure"/>
        <result column="vis" property="vis"/>
        <result column="cloud" property="cloud"/>
        <result column="location" property="location"/>
    </resultMap>


<!--auto generated by MybatisCodeHelper on 2025-04-10-->
    <select id="selectByFxDateAndLocation" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from daily
        where fxDate=#{fxDate} and location=#{location}
    </select>

    <select id="selectByLocation" resultMap="BaseResultMap">
        select * from daily where location=#{location} and fxDate=#{fxDate}
    </select>

    <select id="selectByLocationAndMonth" resultMap="BaseResultMap">
        select * from daily where location=#{location} and fxDate >= #{monthStart} and fxDate &lt; #{monthEnd}
    </select>
</mapper>
